*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.header{
    top: 0px;
    position: fixed;
    background-color: white;
    /* display: flex; */
    height: 100px;
    width: 100%;
    z-index: 1000;
}
.header img{
    width: 100px;
    height: 100px;
}
.header .resp-ico{
    display: none;
    line-height: 100px;
    float: right;
    color: black;
    padding-right: 20px;
    font-size: 30px;
}
.header .clo-ico{
    display: none;
}
.header ul{
    width: 50%;
    display: flex;
    float: right;
    line-height: 100px;
    justify-content: space-around;
}
.header ul li{
    list-style: none;
    cursor: pointer;
}
header ul li a{
    text-decoration: none;
}
/* ********************home container************* */
.home-container{
    color: white;
    height: calc(100vh - 100px);
    /* height: 82.6vh; */
    background: url(/img/floor-g688bcdc46_1280.jpg);
    background-size: cover;
    /* background-position: cover ; */
    text-align: center;
    padding-top:80px ;
}
/* <!-- *******************about us ****************** --> */
.aboutus{
    display: flex;
    margin-top: 30px;
    line-height: 30px;
}
.aboutus .img{
    width: 50%;
    text-align: center;
}
.aboutus .imgfm{
    width: 488px;
    height: 299px;
    
}
.content{
    width: 50%;
    
}
.content h3,.content h2{
    text-align: center;
}
.content h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.content p{
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 50px;
}
.contentofaboutus{
    padding: 10px;
    margin-bottom: 20px;
}


/* ***********************************footer********************************* */
footer{
    background-color: #000;
    color: #FFF;
    line-height: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 200px;
}
footer .card{
    /* height: 350px;
    width: 300px; */
    /* background-color: #f1e5e5; */
    border-radius: 20px;
}
footer .card .img-card-4{
    height: 175px;
    width: 263px;
    background:url(/img/IMAGE.jpg);
    background-size: cover;
}
footer button {
    background-color: transparent;
    border: solid 1px #000;
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.copyright{
    padding-top:30px ;
    height: 80px;
    text-align: center;
    color: white;
    background-color: black;
}

/* *******************about us media querry*************** */
@media screen and (max-width : 1000px) {
    .aboutus{
        align-items: center;
        flex-direction: column;
    }
    footer{
        grid-template-columns: auto auto;
        gap: 50px;
    }
    .aboutus .img{
        width: 100%;
    }
    .content{
        width: 100%;   
    }
}

@media screen and (max-width : 651px) {
    footer{
        grid-template-columns: auto;
        gap: 50px;
    }
    .aboutus .imgfm{
        width: 400px;
    }
}
@media screen and (max-width : 401px) {
    .aboutus .imgfm{
        width: 250px;
        height: 180px;
    }
}
/* *****nav bar******* */
@media screen and (max-width : 433px) {
    
    .header .resp-ico{
        display: block;
    }
    .header .clo-ico{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10px;
    }
    .header ul{
        top: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: -100%;
        
    }
    /* .show{
        right:0;
    } */
    /* .home-container{
        width: 433px;
    } */
}
/* *******************about us media querry*************** */