*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: white;
    /* display: flex; */
    height: 100px;
    width: 100%;
    z-index: 1000;
}
.header img{
    width: 100px;
    height: 100px;
}
.header ul{
    width: 50%;
    display: flex;
    float: right;
    line-height: 100px;
    justify-content: space-around;
}
.header ul li{
    list-style: none;
    cursor: pointer;
}
header ul li a{
    text-decoration: none;
}
/* ********************home container************* */
.home-container{
    
    height: calc(100vh - 100px);
    /* height: 82.6vh; */
    background: url(/img/asian-food.jpg);
    background-size: cover;
    /* background-position: cover ; */
}
.homemidle p{
    margin-top: 20px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.homemidle .card{
    height: 350px;
    width: 300px;
    /* background-color: #f1e5e5; */
    border-radius: 20px;
}
.homemidle .card h2{
    text-align: center;
}
.homemidle .card .card-img{
    height: 200px;
    width: 300px;
    background: url(/img/dessert.webp);
    background-size: cover;
}
.homemidle .card .img-card-2{
    background: url(/img/asian-food.jpg);
    background-size: cover;
}
.homemidle .card .img-card-3{
    background: url(/img/sushi-nigiri-075.jpg);
    background-size: cover;
}
.homemidle .midlle{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 30px;
}
/* ************************image before footer ******************* */
.bf{
    padding-top: 100px;
    height: 363px;
    background-image: url(/img/pexels-chan-walrus-941864.jpg);
    background-size: cover;
    text-align: center;
    color: #FFFF00;
    margin-bottom: 40px;
}

/* ***************************footer************************ */
footer{
    background-color: #CEE1E1;
    line-height: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 200px;
}
footer .card{
    /* height: 350px;
    width: 300px; */
    /* background-color: #f1e5e5; */
    border-radius: 20px;
}
footer .card .img-card-4{
    height: 175px;
    width: 263px;
    background:url(/img/IMAGE.jpg);
    background-size: cover;
}
footer button {
    background-color: transparent;
    border: solid 1px #000;
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.copyright{
    padding-top:30px ;
    height: 80px;
    text-align: center;
    color: white;
    background-color: black;
}

/* ***************************footer************************ */